.language-description-container {
  border: 1px solid black;
  border-radius: 5px;
}

.selected {
  background-color: rgb(255, 201, 52);
  color: black;
}

.not-selected {
  background-color: rgb(0, 102, 255);
  color: white;
}

.btn {
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 10px;
}

.btn-container {
  margin-bottom: 20px;
}

.description {
  padding: 20px;
}

.title {
  font-weight: 500;
}