.language-description-container {
  border: 1px solid black;
}

.selected {
  background-color: rgb(236, 236, 94);
  color: black;
}

.not-selected {
  background-color: rgb(0, 102, 255);
  color: white;
}