.language-description-container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.description-title {
  font-weight: 500;
  margin-top: 0;
}

.selected {
  background-color: rgb(255, 201, 52);
  color: black;
}

.not-selected {
  background-color: rgb(0, 102, 255);
  color: white;
}

.btn {
  border: 0;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 10px;
}

.btn-container {
  margin-bottom: 20px;
}

.title {
  font-weight: 500;
}